@using Helpers
@using Models

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<script src="/content/js/jquery.waterwheelCarousel.js"></script>
<link rel="stylesheet" href="/content/css/carusel/jquery.carousel-3d.default.css">

<script type="text/javascript">
         $(window).load(function () {
             //var c0 = initCarousel("#carousel");
             //var c1 = initCarousel("#carousel1");
             //var c2 = initCarousel("#carousel2");
             //var c3 = initCarousel("#carousel3");

             $('.prev').bind('click', function () {
                 var carousel = $(this).parent().attr("numb");
                eval(carousel+ '.prev()');
                return false
            });

            $('.next').bind('click', function () {
                var carousel = $(this).parent().attr("numb");
                eval(carousel + '.next()');
                return false;
            });
         });

         function initCarousel(id) {
             return $(id).waterwheelCarousel({
                 flankingItems: 3,
                 forcedImageWidth: 550,
                 forcedImageHeight: 400,
                 movingToCenter: function ($item) {
                     $('#callback-output').prepend('movingToCenter: ' + $item.attr('id') + '<br/>');
                 },
                 movedToCenter: function ($item) {
                     $('#callback-output').prepend('movedToCenter: ' + $item.attr('id') + '<br/>');
                 },
                 movingFromCenter: function ($item) {
                     $('#callback-output').prepend('movingFromCenter: ' + $item.attr('id') + '<br/>');
                 },
                 movedFromCenter: function ($item) {
                     $('#callback-output').prepend('movedFromCenter: ' + $item.attr('id') + '<br/>');
                 },
                 clickedCenter: function ($item) {
                     $('#callback-output').prepend('clickedCenter: ' + $item.attr('id') + '<br/>');
                 }
             });
         };
</script>


<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title" style="font-size:38px;margin-bottom:40px;">Коллекция построенных объектов</div>
        <div class="title">Дома из оцилиндрованного бревна<br></div>
        <div class="images project_samples">
            @foreach (var item in MainHelper.GetMainGallery(1))
            {
                @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", new SampleImageModel() { Name = item.Name, Comment = item.Comment })
            }
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Дома из клееного бруса<br></div>
        <div class="images project_samples">
            @foreach (var item in MainHelper.GetMainGallery(2))
            {
                @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", new SampleImageModel() { Name = item.Name, Comment = item.Comment })
            }
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Интерьеры деревянных домов<br></div>
        <div class="images project_samples">
            @foreach (var item in MainHelper.GetMainGallery(3))
            {
                @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", new SampleImageModel() { Name = item.Name, Comment = item.Comment })
            }
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Гаражи, беседки, малые формы<br></div>
        <div class="images project_samples">
            @foreach (var item in MainHelper.GetMainGallery(4))
            {
                @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", new SampleImageModel() { Name = item.Name, Comment = item.Comment })
            }
            <div class="clear"></div>
        </div>
    </div>
</div>

@*<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title" style="font-size:38px;margin-bottom:40px;">Коллекция построенных объектов</div>
        <div class="title">Дома из оцилиндрованного бревна</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:center; ">
            <div id="carousel">
                @foreach (var item in MainHelper.GetMainGallery(1))
                {
                    <img src="@item.Name" alt="" />
                }
            </div>
            <div class="nav" numb="c0">
                <a href="#" class="prev">Назад</a> | <a href="#" class="next">Вперед</a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Дома из клееного бруса</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:center; ">
            <div id="carousel1">
                @foreach (var item in MainHelper.GetMainGallery(2))
                {
                    <img src="@item.Name" alt="" />
                }
            </div>
            <div class="nav" numb="c1">
                <a href="#" class="prev">Назад</a> | <a href="#" class="next">Вперед</a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Интерьеры деревянных домов</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:center; ">
            <div id="carousel2">
                @foreach (var item in MainHelper.GetMainGallery(3))
                {
                    <img src="@item.Name" alt="" />
                }
            </div>
            <div class="nav" numb="c2">
                <a href="#" class="prev">Назад</a> | <a href="#" class="next">Вперед</a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Гаражи и беседки</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:center; ">
            <div id="carousel3">
                @foreach (var item in MainHelper.GetMainGallery(4))
                {
                    <img src="@item.Name" alt="" />
                }
            </div>
            <div class="nav" numb="c3">
                <a href="#" class="prev">Назад</a> | <a href="#" class="next">Вперед</a>
            </div>
        </div>
    </div>
</div>*@
