@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var topProjects = MainHelper.GetProjectsForMainPage();
}

<link rel="stylesheet" type="text/css" href="/content/css/nivo/default.css">
<link rel="stylesheet" type="text/css" href="/content/css/nivo/nivo-slider.css">
<script src="/content/js/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#slider').nivoSlider({
            directionNav: true,
            directionNavHide: false,
            controlNav: false,
            controlNavThumbs: false,
            pauseTime: 5000
        });
    });
</script>

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Деревянные дома - долговечны и красивы</div>
        <div class="sub_title">
            На нашем сайте вы можете ознакомиться с различными проектами
            домов из оцилиндрованного бревна или клееного бруса, а также разработать свой уникальный проект, совместно с нашими
            архитекторами. Ждем Вас!
        </div>
        <div class="arr1 ">
            <div class="image1 size_450x350">
                <div class="slider-wrapper" style="max-width:480px;height:100%;">
                    <div id="slider" class="theme-default nivoSlider">
                        <a href="project/1"><img src="/Content/img/gallery/main/1.jpg" alt="Дом из оцилиндрованого бревна"></a>
                        <a href="project/21"><img src="/Content/img/gallery/main/21.jpg" alt="Баня из оцилиндрованого бревна"></a>
                        <a href="project/2"><img src="/Content/img/gallery/main/2.jpg" alt="Дом из оцилиндрованого бревна"></a>
                        <a href="project/20"><img src="/Content/img/gallery/main/20.jpg" alt="Баня из оцилиндрованого бревна"></a>
                    </div>
                </div>
            </div>
            <div class="right size_450x350" style="text-align:center;">
                <div class="title1"><span style="font-size:18px;">В НАШЕЙ КОМПАНИИ ВЫ МОЖЕТЕ ЗАКАЗАТЬ ДОМА ИЗ ОЦИЛИНДРОВАННОГО БРЕВНА ИЛИ КЛЕНОГО БРУСА ПО ДОСТУПНЫМ ЦЕНАМ</span></div>
                <div class="txt1" style="text-align:justify;">
                    <div><span style="color:#A9A9A9;"><em></em></span></div>
                    Наша компания образована в 1995 году как фирма производитель оцилиндрованного бревна. 
                    В процессе развития мы стали не только поставлять бревно, но и предлагать своим клиентам полный комплекс услуг по проектированию и 
                    строительству домов, бань, СПА-комплексов из оцилиндрованного бревна и клееного бруса, инженерному обеспечению объектов 
                    строительства (отопление, водоснабжение, канализация, электроснабжение), благоустройству территории, строительству бассейнов.
                    
                    Из наиболее крупных работ нашей фирмы такие объекты как база отдыха Выксунского Металлургического Завода,
                    несколько коттеджных посёлков в Подмосковье. <a href="/service/2"> Далее...</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="hide_line section transparent_ico section128" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Выберите свой дом</div>
        <div class="sub_title">и постройте его вместе с нами</div>
        @Html.Partial("~/Views/Shared/_CatalogPartial.cshtml")
    </div>
    <div class="clear"></div>
</div>

<div class="size_350x250 hide_line section section126 " style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Используемые материалы</div>
        <div class="sub_title"><p>Наши клиенты могут выбрать проекты домов из нескольких видов материалов</p></div>
        <div class="arr1 ">
            <div class="left" style="margin-right:20px;"><img style="margin-top:5px;" src="~/content/img/production.jpeg" alt="Производство оцилиндрованного бревна"></div>
            <div>
                <div class="title1"><span style="font-size:20px;">Оцилиндрованное бревно</span></div>
                <div class="txt1" style="text-align:justify;">
                    <span style="font-size:16px;">
                        Оцилиндрованное бревно имеет неповторимый колорит. Этот материал естественной влажности,  длина стеновых элементов составляет не более 6 метров. По этим причинам он требует грамотного подхода к проектированию домов из него и соблюдения технологий строительства. С точки зрения комфортного круглогодичного проживания дома из оцилиндрованного бревна ничем не уступают домам из клееного бруса. Современные лакокрасочные материалы и герметики обеспечивают привлекательный внешний вид и долгий срок службы домов из оцилиндрованного бревна.
                        <a href="/articles/1">Подробнее...</a>
                    </span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="arr1 ">
            <div class="left" style="margin-right:20px;"><img style="margin-top:5px;" src="/content/img/brus1.jpg" alt=""></div>
            <div>
                <div class="title1"><span style="font-size:20px;">Клееный брус</span></div>
                <div class="txt1" style="text-align:justify;">
                    <span style="font-size:16px;">
                        Клееный брус это современный технологичный материал. Он имеет влажность 10-12% и длину стеновых и конструктивных элементов до 12 м. Эти его характеристики позволяют реализовывать из данного материала проекты домов со сложной архитектурой, большими жилыми пространствами и большой площадью остекления. Строгий отбор заготовок и их склейка по длине на внешних ламелях обеспечивают однородную привлекательную поверхность стены дома из клееного бруса. Кроме того, клееный брус позволяет построить дом «под ключ» в течение одного строительного сезона.
                        <a href="/articles/2">Подробнее...</a>
                    </span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="arr1">
            <div class="left" style="margin-right:20px;"><img style="margin-top:5px;" src="/content/img/brus2.jpg" alt=""></div>
            <div>
                <div class="title1"><span style="font-size:20px;">Профилированный брус</span></div>
                <div class="txt1" style="text-align:justify;">
                    <span style="font-size:16px;">
                        Профилированный брус является популярным материалом. Он имеет влажность 18-22% и длину стеновых элементов до 6 м. Поверхность стены дома из профилированного бруса не будет столь привлекательна и однородна как в случае с клееным брусом, да и максимальная длина стеновых элементов будет накладывать ограничения при проектировании. По стоимости строительства это средний вариант между клееным брусом и оцилиндрованным бревном.                    
                        <a href="/articles/3">Подробнее...</a>
                    </span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="hide_line style_0 section section132 " style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Типовые и индивидуальные проекты</div>
        <div class="sub_title">От малых форм до оздоровительных комплексов</div>
        <div class="text" style="text-align:justify; ">
            <p>
                Инженерами компании «СВ-СТРОЙ» был
                создан ряд типовых проектов, которые учитывают представления большинства
                потребителей о комфортном частном жилье. У нас можно заказать недорогой
                деревянный дом «Крепыш» площадью от 156 м<sup>2</sup>,
                который является самым востребованным проектом нашей компании. Небольшие одноэтажные
                постройки чаще всего служат для сезонного проживания. Также мы
                предлагаем проекты двухэтажных домов большой площади для круглогодичного
                использования. Они оборудуются всеми коммуникациями и инженерными
                сетями. Цена деревянного дома определяется не только его площадью и
                этажностью. На нее влияет также конструкция фундамента и сложность
                архитектуры. Среди типовых предложений Вы найдете проекты с мансардой,
                гаражом или террасой. Также мы готовы разработать индивидуальное
                решение, учитывающее все пожелания будущего владельца. Вы можете взять
                за основу любой из имеющихся в каталоге проектов или заказать расчеты с
                нуля. Именно так были созданы лучшие деревянные дома нашей компании.
            </p>
        </div>
    </div>
</div>

<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title  ">Примеры работ<br></div>
        <div class="sub_title">Некоторые работы выполненные нами за последнее время<br></div>
        <div style="margin-top:10px;margin-bottom:20px;text-align:center;">
            <a href="~/ShowTour/?projectid=1" target="_blank" class="btn btn-primary btn-yellow">Видеотур по дому «Крепыш»</a>
            <a href="~/ShowTour/?projectid=2" target="_blank" class="btn btn-primary btn-yellow">Видеотур дом «СВ» и баня «Терма»</a>
        </div>
        <div class="images project_samples">
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/1.jpg", Comment = "Дом из оцилиндрованного бревна «Крепыш»" }, "samples"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/2.jpg", Comment = "Дом из оцилиндрованного бревна «СВ»" }, "samples"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/3.jpg", Comment = "Дом из оцилиндрованного бревна" }, "samples"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/4.jpg", Comment = "Баня из оцилиндрованного бревна «Путинка»" }, "samples"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/5.jpg", Comment = "Дом из оцилиндрованного бревна" }, "samples"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/6.jpg", Comment = "Баня из оцилиндрованного бревна «Терма»" }, "samples"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/7.jpg", Comment = "Дом из клееного бруса «Максим»" }, "samples"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/8.jpg", Comment = "СПА-комплекс из клееного бруса «Пенза»" }, "samples"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/gallery/0/9.jpg", Comment = "Дом из клееного бруса «Раздоры»" }, "samples"))
            <div class="clear"></div>
        </div>
        <div style="margin-top:10px;margin-bottom:20px;text-align:center;">
            <a href="~/contacts/#showtour" target="_self" class="btn btn-primary btn-green">Записаться на просмотр готового дома</a>
        </div>
    </div>
</div>


<div class="hide_line section section149 mode_3" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title  ">Как мы работаем</div>
        <div class="sub_title">Схема работы с нашей компанией</div>
        <div class="arr1 ">
            <div class="col_2">
                <div class="overlay_image_box ">
                    <div class="overlay_image_title title1"><strong>Выбор подрядной организации&nbsp; →</strong></div>
                    <div class="overlay_image_subtitle subtitle1">
                        <ul>
                            <li>отправляете нам запрос на интересующий Вас проект (если проект не с нашего сайта и у Вас нет рабочего проекта на него, то расчёт будет очень приблизительным)</li>
                            <li>получаете коммерческое предложение и консультацию по телефону</li>
                            <li>договариваемся о встрече, либо у нас в офисе, либо на Вашей территории</li>
                            <li>организовываем выезд на строящийся или построенный нашей компанией объект</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col_2">
                <div class="overlay_image_box ">
                    <div class="overlay_image_title title2"><strong>Подготовка договора →</strong></div>
                    <div class="overlay_image_subtitle subtitle2">
                        <ul>
                            <li>проектирование, проработка архитектурно-планировочных решений, разработка рабочей документации, определение точных строительных объёмов</li>
                            <li>выезд на участок предполагаемой застройки для определения местных условий, которые необходимо учесть при составлении финальной сметы (наличие подъезда, уклона и т.д.)</li>
                            <li>составление финальной сметы, итоговая сумма которой фиксируется в договоре и остаётся неизменной до полного исполнения договора</li>
                            <li>подписание договора с гарантией на все виды работ 5 лет, при необходимости готовы предложить Вам кредитные программы от различных банков</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col_2">
                <div class="overlay_image_box ">
                    <div class="overlay_image_title title3"><strong>Строительство  →</strong></div>
                    <div class="overlay_image_subtitle subtitle3">
                        <ul>
                            <li>за Вашим объектом закрепляется персональный прораб с большим опытом работы в сфере деревянного домостроения</li>
                            <li>соблюдение качества выполняемых работ, технологий и сроков строительства регулярно отслеживает служба технического контроля</li>
                            <li>подписание актов скрытых работ и актов готовности этапов происходит со своевременным оповещением Вас о дате их готовности</li>
                            <li>регулярно Вы получаете  фото и видео отчёты о ходе строительства</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col_2 last">
                <div class="overlay_image_box ">
                    <div class="overlay_image_title title1"><strong>Отделочные работы и инженерные системы  →</strong></div>
                    <div class="overlay_image_subtitle subtitle1">
                        <ul>
                            <li>согласование и утверждение смет, с учётом планируемых к применению материалов и оборудования, происходит во время описанного выше этапа строительства дома</li>
                            <li>для лучшего понимания вопроса и выбора оптимальных решений к Вашим услугам специалисты инженерно-технического отдела нашей компании</li>
                            <li>координация действий при монтаже инженерных систем со строителями происходит внутри одной компании, что уменьшает риск возможных ошибок и сокращает сроки строительства дома</li>
                            <li>особое внимание при отделке дома мы уделяем качественной его покраске, так как считаем, что это очень важный этап в деревянном домостроении</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="hide_line section transparent_ico section128  " style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Преимущества работы с нами<br></div>
        <div class="sub_title">Лучшее предложение по качеству и цене!</div>
        <div class="arr1">
            <div class="col_3">
                <div class="ico1 radius" style="color:#3F7B16;"><i class="fa fa-gg" style="color:#3F7B16;"></i></div>
                <div class="title1"><span style="font-size:18px;">Оптимальная стоимость работ</span></div>
                <div class="txt1 ">Мы сохраняем достойную оплату труда благодаря слаженности и высокой производительности, уменьшая издержки и сроки строительства.</div>
            </div>
            <div class="col_3">
                <div class="ico2 radius" style="color:#3F7B16;"><i class="fa fa-money" style="color:#3F7B16;"></i></div>
                <div class="title2"><span style="font-size:18px;">Самые лучшие цены</span></div>
                <div class="txt2 ">
                    Напрямую от производителей, без накруток и посредников. И даже больше –&nbsp;
                    оптовая скидка. А это десятки заводов по всей России и поставщиков
                    материалов.
                </div>
            </div>
            <div class="col_3 last">
                <div class="ico3 radius" style="color:#3F7B16;"><i class="fa fa-expeditedssl" style="color:#3F7B16;"></i></div>
                <div class="title3"><span style="font-size:18px;">Качественный результат</span></div>
                <div class="txt3 ">
                    Достигается благодаря опытом мастеров, системой разработки техзаданий по
                    всем выполняемым работам&nbsp; и контролем за их исполнением.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="arr1">
            <div class="col_3">
                <div class="ico1 radius" style="color:#3F7B16;"><i class="fa fa-toggle-right" style="color:#3F7B16;"></i></div>
                <div class="title1"><span style="font-size:18px;">Эффект постоянного присутствия</span></div>
                <div class="txt1 ">
                    Даже если у вас нет возможности появляться на стройплощадке, в течении
                    каждого рабочего дня&nbsp; вы получаете фото и видео отчеты с комментариями о
                    проделанной работе.
                </div>
            </div>
            <div class="col_3">
                <div class="ico2  radius" style="color:#3F7B16;"><i class="fa fa-object-ungroup" style="color:#3F7B16;"></i></div>
                <div class="title2"><span style="font-size:18px;">Всегда порядок на участке</span></div>
                <div class="txt2 ">Мы за здоровый образ жизни. Наша команда мастеров не употребляет спиртное, поэтому можете быть спокойны за чистоту и порядок.</div>
            </div>
            <div class="col_3 last">
                <div class="ico3 radius" style="color:#3F7B16;"><i class="fa fa-slideshare" style="color:#3F7B16;"></i></div>
                <div class="title3"><span style="font-size:18px;">Экология дома</span></div>
                <div class="txt3 ">
                    Мы используем натуральные материалы, которые не просто безопасны для
                    человека, но и полезны для его физического и психологического здоровья.
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Наши достижения<br></div>
        <div class="sub_title">награды и сертификаты</div>
        <div class="images project_samples">
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/certificates/001.jpg", Comment = "", Height = 390 }, "certificates"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/certificates/002.jpg", Comment = "", Height = 390 }, "certificates"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/certificates/003.jpg", Comment = "", Height = 390 }, "certificates"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/certificates/004.jpg", Comment = "", Height = 390 }, "certificates"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/certificates/005.jpg", Comment = "", Height = 390 }, "certificates"))
            @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = "/Content/img/certificates/006.jpg", Comment = "", Height = 390 }, "certificates"))
            <div class="clear"></div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_ContactPartial.cshtml")



