@using Helpers
@model Models.ProjectModel

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
    var samplesList = MainHelper.GetProjectSamples(Model.Id);
}


<link rel="stylesheet" type="text/css" href="/content/css/nivo/default.css">
<link rel="stylesheet" type="text/css" href="/content/css/nivo/nivo-slider.css">
<script src="/content/js/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        changeCompl(1);

        $('#slider').nivoSlider({
            directionNav: true,
            directionNavHide: false,
            controlNav: true,
            controlNavThumbs: false
        });

        $('.matSel').click(function () {
            changePrice($(this).val(), $('body').find('.complSel:checked').val());
        });

        $('.complSel').click(function () {
            $('.complSel1').attr("checked",false);
            $('.complSel2').attr("checked",false);
            $('.complSel3').attr("checked",false);
            changePrice($('body').find('.matSel:checked').val(), $(this).val());
        });

        $('.complTbl').on('click', function() {
            changeCompl($(this).val());
        });

        $('.btn-gallery').on('click', function(e) {
            e.preventDefault();
            var dialog = $('#gellery-wrapper').dialog();
            
            var maxWidth = $(document).width()*0.8;
            $('#gellery-wrapper').css('width', maxWidth);
            $('#gellery-wrapper').css('left', ($(document).width() - maxWidth)/2);
            $('#gellery-wrapper').css('top', '100px');
        });

        $('#gellery-wrapper').on('click', '#img_zoomer_close',function() {
            $('#gellery-wrapper').dialog('close');
        });

    });

    function changeCompl(comp) {
        var colIndex = comp;
        $('.complectation-table tbody tr').find('td').css("background-color","white");
        $('.complectation-table tbody tr').each(function(){
            $('td:eq(' + colIndex + ')', this).css("background-color","aliceblue");
        });
    };

    function changePrice(mat, comp) {
        var val = 'Цена по запросу';
        $('.complSel'+comp).click();
        $.ajax({
            type: 'POST',
            url: '/GetProjectCost',
            data:
            {
                projectId: @Model.Id,
                matherialId: mat,
                complectationId: comp
            },
            success: function (result) {
                $('.cost').text(result.cost);
                $('.project-summary-cost1').text(result.cost1);
                $('.project-summary-cost2').text(result.cost2);
                $('.project-summary-cost3').text(result.cost3);
            },
            traditional: true,
            dataType: 'json'
        });
    };
</script>

@Html.HiddenFor(m => m.Id)

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title" style="font-size:34px;font-weight:600;">Проект «@(Model.Name)»</div>
        <div class="sub_title  "> </div>
        <div class="">
            <div style="float:left;width:640px;">
                <div id="slider" class="theme-default nivoSlider">
                    @foreach (var item in MainHelper.GetProjectGallery(Model.Id))
                    {
                    <img src="@item.Name" alt="@item.Comment">
                    }
                </div>
            </div>
            <div class="project_description">
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Площадь</span></div>
                <div class="txt1" style="text-align:justify;font-size:18px;">
                    @Model.Area кв.м.
                </div>
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Планировка</span></div>
                <div class="txt1" style="text-align:justify;font-size:18px;">
                    Комнат - @Model.RoomCount  Санузлов - @Model.WcCount
                </div>
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Метериал стен</span></div>
                <div class="txt1" style="text-align:justify;font-size:16px;">
                    <input type="radio" class="matSel" id="brevno" name="material" value="1" checked>
                    <label for="brevno">Оцилиндрованное бревно</label>
                    <br />
                    <input type="radio" class="matSel" id="profbrus" name="material" value="2">
                    <label for="profbrus">Профилированный брус</label>
                    <br />
                    <input type="radio" class="matSel" id="brus" name="material" value="3">
                    <label for="brus">Клееный брус</label>
                </div>
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Комплектация</span></div>
                <div class="txt1" style="text-align:justify;font-size:16px;">
                    <input type="radio" class="complSel" id="base" name="compl" value="1" checked>
                    <label for="base">База</label>
                    <br />
                    <input type="radio" class="complSel" id="mid" name="compl" value="2">
                    <label for="mid">Стандарт</label>
                    <br />
                    <input type="radio" class="complSel" id="high" name="compl" value="3">
                    <label for="high">Премиум</label>
                </div>
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Цена</span></div>
                <div class="txt1 cost" style="text-align:justify;font-size:18px;">
                    @MainHelper.FormatPrice(MainHelper.GetProjectMinCost(Model.Id))
                </div>
                <div class="info">
                    <a href="#complectation">подробнее</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="size_450x350 hide_line section " style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="line-bottom line-top" style="text-align:center;">
            <a href="#" class="btn btn-primary btn-yellow btn_recall">Изменить комплектацию</a>
            <a href="#" class="btn btn-primary btn-green btn_recall">Изменить планировку</a>
            @if (samplesList.Count() > 3)
            {
            <a href="#" class="btn btn-primary btn-yellow btn-gallery">Фотогалерея</a>
            }
@*<a href="#" class="btn btn-primary btn-yellow">Видеотур по дому</a>
    <a href="#" class="btn btn-primary btn-green">Отзывы (3)</a>*@
        </div>
    </div>
</div>

<div class="hide_line section img_zoom" style="background-color:#FFFFFF;" data-id="49555" id="b_49555">
    <a name="plan"></a>
    <div class="section_inner">
        <div class="title">Планировки<br></div>
        <div class="sub_title"></div>
        <div class="images">
            @foreach (var item in MainHelper.GetProjectPlanings(Model.Id))
            {
                @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", item)
            }
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div id="complectation" class="title">Комплектация</div>
        <div class="sub_title hidden"></div>
        <div class="text">
            <table class="complectation-table">
                <thead>
                    <tr class="project-compl-header">
                        <td class="" style="width:100px;">Комплектация</td>
                        <td class="title1">
                            <input type="radio" class="complTbl complSel1" id="base1" name="compl1" value="1" checked>
                            <label for="base1">Базовая</label>
                        </td>
                        <td class="title1">
                            <input type="radio" class="complTbl complSel2" id="mid1" name="compl1" value="2">
                            <label for="mid1">Стандарт</label>
                        </td>
                        <td class="title1">
                            <input type="radio" class="complTbl complSel3" id="high1" name="compl1" value="3">
                            <label for="high1">Премиум</label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="title1">Фундамент</td>
                        <td>свайно-винтовой диаметр свай 133мм</td>
                        <td>монолитный ленточный малозаглубленный по буронабивным сваям</td>
                        <td>монолитная железобетонная плита с ростверком</td>
                    </tr>
                    <tr>
                        <td class="title1">Стены</td>
                        <td>оцилиндрованное бревно Ø22 см (сосна-ель) естественной влажности. Сборка на сухие березовые нагеля с прокладкой джутового льноволокна.</td>
                        <td>оцилиндрованное бревно Ø24 см (сосна-ель) зимней заготовки. Сборка на сухие березовые нагеля с прокладкой джутового льноволокна.</td>
                        <td>оцилиндрованное бревно Ø26 см (сосна-ель) зимней заготовки. Сборка на сухие березовые нагеля с прокладкой синтетического материала.</td>
                    </tr>
                    <tr>
                        <td class="title1">Перекрытия 1-го этажа</td>
                        <td>
                            - доска сечение 50x150 мм<br />
                            - утепление минеральная вата 100 мм<br />
                            - черновой пол обрезная доска 25х150
                        </td>
                        <td>
                            - брус сечение 100x150 мм<br />
                            - утепление минеральная вата 150 мм<br />
                            - черновой пол обрезная доска 25х150
                        </td>
                        <td>
                            - брус сечение 100x200 мм<br />
                            - утепление минеральная вата 200 мм<br />
                            - черновой пол влагостойкая березоввая фанера 20мм
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Межкомнатные перегородки 1-го этажа</td>
                        <td>оцилиндрованное бревно Ø22 см </td>
                        <td>оцилиндрованное бревно Ø24 см</td>
                        <td>оцилиндрованное бревно Ø26 см</td>
                    </tr>
                    <tr>
                        <td class="title1">Перекрытия 2-го этажа</td>
                        <td>
                            - доска сечение 50x150 мм<br />
                            - утепление минеральная вата 100 мм<br />
                            - черновой пол обрезная доска 25х150
                        </td>
                        <td>
                            - брус сечение 100x150 мм<br />
                            - утепление минеральная вата 150 мм<br />
                            - черновой пол обрезная доска 25х150
                        </td>
                        <td>
                            - брус сечение 100x200 мм<br />
                            - утепление минеральная вата 200 мм<br />
                            - черновой пол влагостойкая березоввая фанера 20мм
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Межкомнатные перегородки 2-го этажа</td>
                        <td>Каркасные, обшивка евровагонка 12х96 мм, неутепленные</td>
                        <td>Каркасные, обшивка имитация бруса 20х146 мм, утепление минеральная вата 100мм</td>
                        <td>Оцилиндрованное бревно Ø26 см</td>
                    </tr>
                    <tr>
                        <td class="title1">Крыша</td>
                        <td>
                            - стропильная конструкция из доски 50x150 мм<br />
                            - временное покрытие руберойд<br />
                            - без утепления
                        </td>
                        <td>
                            - стропильная конструкция из доски 50x200 мм<br />
                            - металлочерепица полиэстер толщина 0.5 мм<br />
                            - утепление минеральная вата 200 мм
                        </td>
                        <td>
                            - стропильная конструкция из доски 50x200 мм<br />
                            - битумная черепица по сплошному настилу из OSB-плит<br />
                            - утепление минеральная вата 200 мм
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Окна</td>
                        <td>
                            - пластиковые, однокамерный стеклопакет<br />
                            - плоский наличник
                        </td>
                        <td>
                            - пластиковые, двухкамерный стеклопакет, толщина профиля 60мм<br />
                            - фигурный наличник
                        </td>
                        <td>
                            - пластиковые, двухкамерный стеклопакет, толщина профиля 70мм, односторонняя цветная ламинация с декоративной раскладкой<br />
                            - фигурный наличник с декоративными элементами
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Двери</td>
                        <td>
                            - входная дверь деревянная 80х2000 филенчатая<br />
                            - межкомнатные двери из хвойных пород
                        </td>
                        <td>
                            - входная дверь металлическая с порошковым поктытием<br />
                            - межкомнатные двери из хвойных пород с филенкой
                        </td>
                        <td>
                            - входная дверь металлическая усиленная, покрытие шпон дерева ценных пород <br />
                            - межкомнатные двери шпон дерева ценных пород
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="project-summary">
                        <td class="title1">Цена</td>
                        <td><span class="project-summary-cost1">@MainHelper.FormatPrice(MainHelper.GetProjectCost(Model.Id, 1, 1))</span></td>
                        <td><span class="project-summary-cost2">@MainHelper.FormatPrice(MainHelper.GetProjectCost(Model.Id, 1, 2))</span></td>
                        <td><span class="project-summary-cost3">@MainHelper.FormatPrice(MainHelper.GetProjectCost(Model.Id, 1, 3))</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Description))
{
<div class="hide_line style_0 section section132 " style="background-color:#ffffff;">
    <div class="section_inner line-top">
        <div class="title">Описание</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:justify; ">
            <p>@Model.Description</p>
        </div>
    </div>
</div>
}

@if (samplesList.Any())
{
<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner line-top">
        <div class="title">Построенные дома<br></div>
        <div class="sub_title"></div>
        <div class="images project_samples">
            @foreach (var item in samplesList.Take(3))
            {
                @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", item)
            }
        </div>
    </div>
</div>
}

@Html.Partial("~/Views/Shared/_ProjectGalleryPartial.cshtml", samplesList)
