@using Helpers
@using Models
@model Models.ProjectModel

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";

    var samplesList = MainHelper.GetProjectSamples(Model.Id);
    var tourLink = MainHelper.GetProject3DTourLink(Model.Id);
    var plannings = MainHelper.GetProjectPlanings(Model.Id);
    var dd = Model.Type == 4 || Model.Type == 6 ? 20 : 22;
    var matherial = (int)Model.Matherials.First();
    matherial = matherial == 4 ? 1 : matherial;

    ViewBag.Title = "Строительство деревянных домов - " + MainHelper.GetProjectComment(Model.Id, ProjectCommentType.Project, Model.Matherials.First());
}


<link rel="stylesheet" type="text/css" href="/content/css/nivo/default.css">
<link rel="stylesheet" type="text/css" href="/content/css/nivo/nivo-slider.css">
<script src="/content/js/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $('.matSel[value="@(matherial)"]').attr('checked',true);
        changePrice(@(matherial), 1);

        $('#slider').nivoSlider({
            directionNav: true,
            directionNavHide: false,
            controlNav: true,
            controlNavThumbs: false
        });

        $('.matSel').click(function () {
            changePrice($(this).val(), $('body').find('.complSel:checked').val());
        });

        $('.complSel').click(function () {
            changePrice($('body').find('.matSel:checked').val(), $(this).val());
        });

        $('.complTbl').on('click', function() {
            changePrice($('body').find('.matSel:checked').val(), $(this).val());
        });

        @if(plannings.Count() > 1)
        {
            <text>
        $("#planning-tabs").tabs();
            </text>
        }
    });

    function changeCompl(comp) {
        var colIndex = comp;

        $('.complSel[value="'+comp+'"]').attr('checked', true);

        var mat = $('body').find('.matSel:checked').val();
        $('.tblCompl1').hide();
        $('.tblCompl2').hide();
        $('.tblCompl'+mat).show();
        
        $('.complectation-table tbody tr').find('td').css("background-color","white");
        $('.complectation-table tbody tr').each(function(){
            $('td:eq(' + colIndex + ')', this).css("background-color","aliceblue");
        });
    };

    function changePrice(mat, comp) {
        var val = 'Цена по запросу';
        changeCompl(comp);
        $.ajax({
            type: 'POST',
            url: '/GetProjectCost',
            data:
            {
                projectId: @Model.Id,
                matherialId: mat,
                complectationId: comp
            },
            success: function (result) {
                $('.cost').text(result.cost);
                $('.project-summary-cost1').text(result.cost1);
                $('.project-summary-cost2').text(result.cost2);
                $('.project-summary-cost3').text(result.cost3);
            },
            traditional: true,
            dataType: 'json'
        });
    };
</script>

@Html.HiddenFor(m => m.Id)

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title" style="font-size:34px;font-weight:600;">Проект «@(Model.Name)»</div>
        <div class="sub_title"> </div>
        <div class="">
            <div class="slider-wrapper">
                <div id="slider" class="theme-default nivoSlider">
                    @foreach (var item in MainHelper.GetProjectGallery(Model.Id))
                    {
                        <img src="@item.Name" alt="@item.Comment">
                    }
                </div>
            </div>
            <div class="project_description">
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Площадь</span></div>
                <div class="txt1" style="text-align:justify;font-size:18px;">
                    <span class="room-wrapper">@Model.Area</span>&nbsp;м<sup>2</sup>
                </div>
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Планировка</span></div>
                <div class="txt1" style="text-align:justify;font-size:18px;">
                    Комнат - <span class="room-wrapper">@Model.RoomCount</span>  Санузлов - <span class="room-wrapper">@Model.WcCount</span>
                </div>
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Метериал стен</span></div>
                <div class="txt1" style="text-align:justify;font-size:16px;">
                    <input type="radio" class="matSel" id="brevno" name="material" value="1">
                    <label for="brevno">Оцилиндрованное бревно</label>
                    <br />
                    <input type="radio" class="matSel" id="brus" name="material" value="2">
                    <label for="brus">Клееный брус</label>
                    <br />
                    <input type="radio" class="matSel" id="profbrus" name="material" value="3">
                    <label for="profbrus">Профилированный брус</label>
                </div>
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Комплектация</span></div>
                <div class="txt1" style="text-align:justify;font-size:16px;">
                    <input type="radio" class="complSel" id="base" name="compl" value="1" checked>
                    <label for="base">База</label>
                    <br />
                    <input type="radio" class="complSel" id="mid" name="compl" value="2">
                    <label for="mid">Стандарт</label>
                    <br />
                    <input type="radio" class="complSel" id="high" name="compl" value="3">
                    <label for="high">Премиум</label>
                </div>
                <div class="title1" style="font-size:22px;"><span style="font-size:18px;">Цена</span></div>
                <div class="txt1 cost cost-wrapper">
                    @MainHelper.FormatPrice(MainHelper.GetProjectMinCost(Model.Id))
                </div>
                <div class="info">
                    <a href="#complectation">подробнее</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="size_450x350 hide_line section " style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="line-bottom line-top" style="text-align:center;">
            <a href="#" class="btn btn-primary btn-yellow btn_recall">Изменить комплектацию</a>
            <a href="#" class="btn btn-primary btn-green btn_recall">Изменить планировку</a>
            @if (samplesList.Count() > 3)
            {
            <a href="#" class="btn btn-primary btn-yellow btn-gallery">Фотогалерея</a>
                            }
            @if (!string.IsNullOrEmpty(tourLink))
            { 
            <a href="~/ShowTour/?projectid=@Model.Id" target="_blank" class="btn btn-primary @(samplesList.Count() > 3 ? "btn-green" : "btn-yellow")">Видеотур по дому</a>
                        }
            @if (new int[] { 1 }.Contains(Model.Id))
            {
                <a href="~/contacts/#showtour" target="_blank" style="background-color:lightcoral;" class="btn btn-primary @(string.IsNullOrEmpty(tourLink) ? "btn-green" : "btn-yellow")">Посмотреть готовый дом</a>
            }
    @*<a href="#" class="btn btn-primary btn-green">Отзывы (3)</a>*@
        </div>
    </div>
</div>

@if (plannings.Any())
{
<div class="hide_line section img_zoom">
    <a name="plan"></a>
    <div class="section_inner">
        <div class="title">Планировки<br></div>
        <div class="sub_title"></div>
        @if (plannings.Count() > 1)
        {
            var i = 1;
            <div id="planning-tabs">
                <ul>
                    @foreach (var item in plannings)
                    {
                        <li><a href="#planning-tab-@i">@item.Name</a></li>
                        i++;
                    }
                </ul>
                <div class="clear line-top"></div>
                @{
                    i = 1;
                }
                @foreach (var item in plannings)
                {
                <div id="planning-tab-@i">
                    @Html.Partial("~/Views/Shared/_PlanningImageGroupPartial.cshtml", item.Images)
                </div>
                    i++;
                }
            </div>
        }
        else
        {
            @Html.Partial("~/Views/Shared/_PlanningImageGroupPartial.cshtml", plannings.First().Images)
        }
        <div class="clear"></div>
    </div>
</div>
}

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div id="complectation" class="title">Комплектация</div>
        <div class="sub_title hidden"></div>
        <div class="text" >
            <table class="complectation-table" style="margin-bottom:10px;">
                <thead>
                    <tr class="project-compl-header">
                        <td class="" style="min-width:130px;">Комплектация</td>
                        <td class="title1" style="width:30%;">
                            @*<input type="radio" class="complTbl complSel1" id="base1" name="compl1" value="1" checked>
                            <label for="base1">Базовая</label>*@
                            Базовая
                        </td>
                        <td class="title1" style="width:30%;">
                            @*<input type="radio" class="complTbl complSel2" id="mid1" name="compl1" value="2">
                            <label for="mid1">Стандарт</label>*@
                            Стандарт
                        </td>
                        <td class="title1" style="width:30%;">
                            @*<input type="radio" class="complTbl complSel3" id="high1" name="compl1" value="3">
                            <label for="high1">Премиум</label>*@
                            Премиум
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="title1">Фундамент</td>
                        <td>
                            <ul>
                                <li>
                                    свайно-винтовой, сваи  133х2500 мм
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    монолитный мелкозаглубленный ростверк по буронабивным сваям
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    монолитный мелкозаглубленный ростверк по буронабивным сваям
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Стены</td>
                        <td>
                            <ul class="tblCompl1">
                                <li>
                                    оцилиндрованное бревно Ø@(dd) см (сосна-ель) естественной влажности<br />
                                </li>
                                <li>
                                    сборка на сухие березовые нагеля с прокладкой льноволокна
                                </li>
                            </ul>
                            <ul class="tblCompl2" style="display:none;">
                                <li>
                                    брус клееный 185(h)х160 мм (сосна или ель)<br />
                                </li>
                                <li>
                                    сборка на шпилечную систему Ø 16 мм
                                </li>
                            </ul>
                            <ul class="tblCompl3" style="display:none;">
                                <li>
                                    брус профилированный 160(h)х160 мм (сосна-ель) естественной влажности<br />
                                </li>
                                <li>
                                    сборка на сухие березовые нагеля с прокладкой льноволокна
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="tblCompl1">
                                <li>
                                    оцилиндрованное бревно Ø@(dd+2) см (сосна-ель) естественной влажности<br />
                                </li>
                                <li>
                                    сборка на сухие березовые нагеля с прокладкой льноволокна
                                </li>
                            </ul>
                            <ul class="tblCompl2" style="display:none;">
                                <li>
                                    брус клееный 185(h)х200 мм (сосна или ель)<br />
                                </li>
                                <li>
                                    сборка на шпилечную систему Ø 16 мм
                                </li>
                            </ul>
                            <ul class="tblCompl3" style="display:none;">
                                <li>
                                    брус профилированный 160(h)х160 мм (сосна-ель) естественной влажности<br />
                                </li>
                                <li>
                                    сборка на сухие березовые нагеля с прокладкой льноволокна
                                </li>
                            </ul>                        
                        </td>
                        <td>
                            <ul class="tblCompl1">
                                <li>
                                    оцилиндрованное бревно Ø@(dd+2) см (сосна-ель) естественной влажности<br />
                                </li>
                                <li>
                                    сборка на сухие березовые нагеля с прокладкой льноволокна
                                </li>
                            </ul>
                            <ul class="tblCompl2" style="display:none;">
                                <li>
                                    брус клееный 185(h)х200 мм (сосна или ель)<br />
                                </li>
                                <li>
                                    сборка на шпилечную систему Ø 16 мм
                                </li>
                            </ul>
                            <ul class="tblCompl3" style="display:none;">
                                <li>
                                    брус профилированный 160(h)х160 мм (сосна-ель) естественной влажности<br />
                                </li>
                                <li>
                                    сборка на сухие березовые нагеля с прокладкой льноволокна
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Перекрытия 1-го этажа</td>
                        <td>
                            <ul>
                                <li>
                                    лаги брус естественной влажности  100x200 мм, шаг 680 мм
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    лаги брус естественной влажности 100x200 мм, шаг 680 мм
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="tblCompl1 tblCompl3">
                                <li>
                                    лаги брус естественной влажности 100x200 мм, шаг 680 мм
                                </li>
                            </ul>
                            <ul class="tblCompl2" style="display:none;">
                                <li>
                                    лаги сухая доска  50x100 мм двойной каркас, шаг 630 мм
                                </li>
                                <li>
                                    черновой пол из обрезной доски 25 мм
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Межкомнатные перегородки 1-го этажа</td>
                        <td>
                            <ul>
                                <li>
                                    в соответствии с проектом
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    в соответствии с проектом
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    в соответствии с проектом
                                </li>
                            </ul>
                        </td>
                    </tr>
                    @if (Model.FloorsCount > 1)
                    {
                    <tr>
                        <td class="title1">Перекрытия 2-го этажа</td>
                        <td>
                            <ul>
                                <li>
                                    лаги брус естественной влажности 100x200 мм, шаг 680 мм
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    лаги брус естественной влажности 100x200 мм, шаг 680 мм
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="tblCompl1 tblCompl3">
                                <li>
                                    лаги брус естественной влажности 100x200 мм, шаг 680 мм
                                </li>
                            </ul>
                            <ul class="tblCompl2" style="display:none;">
                                <li>
                                    лаги сухая доска  50x100 мм двойной каркас, шаг 630 мм
                                </li>
                                <li>
                                    черновой пол из обрезной доски 25 мм
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Межкомнатные перегородки 2-го этажа</td>
                        <td>
                            <ul>
                                <li>
                                    в соответствии с проектом
                                </li>
                                <li>
                                    каркасные не устанавливаются
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    в соответствии с проектом
                                </li>
                                <li>
                                    каркасные не устанавливаются
                                </li>
                            </ul>             
                        </td>
                        <td>
                            <ul>
                                <li>
                                    в соответствии с проектом
                                </li>
                            </ul>
                        </td>
                    </tr>
                    }
                    <tr>
                        <td class="title1">Крыша</td>
                        <td>
                            <ul>
                                <li>
                                    стропильная конструкция из доски 50x150 мм, шаг 630 мм
                                </li>
                                <li>
                                    временная кровля из рубероида
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    стропильная конструкция из доски 50x200 мм, шаг 630 мм
                                </li>
                                <li>
                                    диффузионная мембрана DELTA VENT N
                                </li>
                                <li>
                                    двойная обрешётка вентиляции подкровельного пространства (брусок 40х50 мм, доска 25 мм)
                                </li>
                                <li>
                                    металлочерепица М28 полиэстер толщина 0.5 мм, включая все необходимые комплектующие
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    стропильная конструкция из доски 50x200 мм, шаг 630 мм
                                </li>
                                <li>
                                    диффузионная мембрана DELTA VENT N
                                </li>
                                <li>
                                    двойная обрешётка вентиляции подкровельного пространства (брусок 40х50 мм, доска 25 мм)
                                </li>
                                <li>
                                    сплошная обешётка из листов OSB толщиной 12 мм
                                </li>
                                <li>
                                    битумная черепица Шинглас серия Кантри, включая подкладочный ковёр и все необходимые комплектующие
                                </li>
                                <li>
                                    утепление крыши - базальтовый утеплитель, слой 250 мм, пароизоляция Ютафол Н110 с проклейкой стыков и примыканий
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Окна</td>
                        <td>не устанавливаются</td>
                        <td>не устанавливаются</td>
                        <td>
                            <ul>
                                <li>
                                    подготовка проёмов с установкой обсада
                                </li>
                                <li>
                                    монтаж окон ПВХ
                                </li>
                                <li>
                                    установка и покраска наличника снаружи
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="title1">Внешняя отделка</td>
                        <td>
                            не производится
                        </td>
                        <td>
                            не производится
                        </td>
                        <td>
                            <ul class="tblCompl1">
                                <li>
                                    шлифовка торцов брёвен
                                </li>
                                <li>
                                    отделка свесов крыши строганной доской
                                </li>
                                <li>
                                    покраска составами Тиккурила
                                </li>
                                <li>
                                    монтаж водостоков
                                </li>
                            </ul>
                            <ul class="tblCompl2" style="display:none;">
                                <li>
                                    шлифовка брусовых стен
                                </li>
                                <li>
                                    отделка свесов крыши строганной доской
                                </li>
                                <li>
                                    покраска маслами OSMO
                                </li>
                                <li>
                                    монтаж водостоков
                                </li>
                            </ul>
                            <ul class="tblCompl3" style="display:none;">
                                <li>
                                    шлифовка торцов
                                </li>
                                <li>
                                    отделка свесов крыши строганной доской
                                </li>
                                <li>
                                    покраска составами Тиккурила
                                </li>
                                <li>
                                    монтаж водостоков
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="project-summary">
                        <td class="title1">Цена</td>
                        <td><span class="project-summary-cost1">@MainHelper.FormatPrice(MainHelper.GetProjectCost(Model.Id, 1, 1))</span></td>
                        <td><span class="project-summary-cost2">@MainHelper.FormatPrice(MainHelper.GetProjectCost(Model.Id, 1, 2))</span></td>
                        <td><span class="project-summary-cost3">@MainHelper.FormatPrice(MainHelper.GetProjectCost(Model.Id, 1, 3))</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Description))
{
<div class="hide_line style_0 section section132 " style="background-color:#ffffff;">
    <div class="section_inner line-top">
        <div class="title">Описание</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:justify; ">
            <p>@Model.Description</p>
        </div>
    </div>
</div>
}

@if (samplesList.Any())
{
<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner line-top">
        <div class="title">Построенные дома<br></div>
        <div class="sub_title"></div>
        <div class="images project_samples">
            @foreach (var item in samplesList.Take(3))
            {
                @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", item)
            }
        </div>
    </div>
</div>
    if (samplesList.Count() > 3)
    {
        <div class="clear"></div>
        <div class="hide_line section section126" style="background-color:#FFFFFF;">
            <div class="section_inner">
                <a href="#" class="btn-gallery">еще фотографии...</a>
            </div>
        </div>
    }
}

@Html.Partial("~/Views/Shared/_ProjectGalleryPartial.cshtml", samplesList)
