@using Helpers
@model Tuple<int,int>

<div class="popup_form popup_form_options" data-action="@Model.Item2">
    <div class="popup_form_inner">
        <div class="popup_form_close">X</div>
        <div class="popup_form_title"><span style="font-size:20px">Дополнительные опции</span></div>
        <div class="">
            <div class="field">
                <table style="width:100%;">
                    @foreach (var item in MainHelper.GetOptionsList(Model.Item1, 0, Model.Item2))
                    {
                        <tr>
                            <td>
                                <input type="checkbox" item="@item.ID" />
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td style="text-align:right;">
                                @MainHelper.FormatPrice(item.Cost, false)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="field">
                <div class="field_input" style="text-align:center;margin-top:10px;">
                    <input class="submit_btn surround select-options" data-action="@Model.Item2" value="Выбрать" style="background-color:#3F7B16;border-radius: 1.5em;width:150px;padding:5px;font-size:16px;" type="submit">
                </div>
            </div>
        </div>
    </div>
</div>
