@model Models.ProjectFilterModel

<div class="hide_line section" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Типовые проекты</div>
        <div class="filter-panel ar1">
            <div class="col_3">
                <div class="title1"><span>Площадь</span></div>
                <div class="txt1" style="font-size:16px;">
                    @Html.CheckBoxFor(m => m.Area1)
                    <label for="Area1">50 - 100 м<sup>2</sup></label>
                    <br />
                    @Html.CheckBoxFor(m => m.Area2)
                    <label for="Area2">100 - 200 м<sup>2</sup></label>
                    <br />
                    @Html.CheckBoxFor(m => m.Area3)
                    <label for="Area3">более 200 м<sup>2</sup></label>
                </div>
            </div>
            <div class="col_3">
                <div class="title1"><span>Материал</span></div>
                <div class="txt1" style="font-size:16px;">
                    @Html.CheckBoxFor(m => m.Matherial1)
                    <label for="Matherial1">оцилиндрованное бревно</label>
                    <br />
                    @Html.CheckBoxFor(m => m.Matherial2)
                    <label for="Matherial2">клееный брус</label>
                    <br />
                    @Html.CheckBoxFor(m => m.Matherial3)
                    <label for="Matherial3">комбинированный</label>
                </div>
            </div>
            <div class="col_3">
                <div class="title1"><span>Цена</span></div>
                <div class="txt1" style="font-size:16px;">
                    @Html.CheckBoxFor(m => m.Price1)
                    <label for="Price1">50 000 - 1 000 000 руб.</label>
                    <br />
                    @Html.CheckBoxFor(m => m.Price2)
                    <label for="Price2">1 000 000 - 2 000 000 руб.</label>
                    <br />
                    @Html.CheckBoxFor(m => m.Price3)
                    <label for="Price3">свыше 2 000 000 руб.</label>
                </div>
            </div>
            <div class="col_3 last">
                <div class="title1"><span>Этажность</span></div>
                <div class="txt1" style="font-size:16px;">
                    @Html.CheckBoxFor(m => m.Floor1)
                    <label for="Floor1"> 1 этаж</label>
                    <br />
                    @Html.CheckBoxFor(m => m.Floor2)
                    <label for="Floor2"> 2 этажа (мансарда)</label>
                    <br />
                    @Html.CheckBoxFor(m => m.Floor3)
                    <label for="Floor3">свыше 2 этажей</label>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
